*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 1% auto;
    border: 1px solid;
}

main h1, h2, h3, h4, h5, h6, li, a, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45%;
    border: 1px solid;
    background-color: #343978;
}

.title_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 1%;
    font-size: 14px;
}

.title_container h1, h2{
    color: white;
    padding: 3% 5%;
}

.title_container h2{
    font-style: italic;
}

.contact_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 3% 2%;
}

.contact_container ul li{
    list-style: none;
    color: white;
    font-size: 13px;
    
}

.contact_container ul li img{
    width: 35px;
    height: 35px;
}

.container_body{
    display: flex;
    justify-content: space-between;
}

.left_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 10px 10px rgba(40, 38, 38, 0.493);
    padding: 0 2%;
    background: linear-gradient(90deg, rgb(166, 166, 166) 0%, rgb(255, 255, 255) 100%);
}

.left_column .img_container{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    top: -60px;
}

.left_column .img_container img{
    position:relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px double #343978;
    background-color: #343978;
    top : -20px;
}

.left_column .container_title1, .container_title2, .container_title3, .container_title4 {
    width: 220px;
    height: 45px;
    position: relative;
    left: -32px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #343978;
    padding: 3% 2%;
    margin: 5%;
}

.left_column h3{
    text-align: center;
    color: white;
    font-size: 16px;
}

.left_column ul li{
    padding: 5% 3%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: linear-gradient(90deg, rgb(166, 166, 166) 0%, rgb(255, 255, 255) 100%);
}

section .container_title5, .container_title6{
    width: 230px;
    height: 50px;
    background-color: #343978;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 2%;
    position: relative;
    right: -15px;
}


section .container_title5 h2{
    text-align: center;
    color: white;
    font-size: 16px;
}

section article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2% 5%;
}

section article h4, h5, p{
    color: rgb(61, 73, 212);
    font-size: 16px;
    padding: 1% 1%;
}

section article span{
    color: rgb(61, 73, 212); ;
}


section article ul li{
    list-style: none;
    padding: 1% 0;
    font-size: 14px;
}

footer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343978;
}

footer h6 {
    color: white;
    margin: 3%;
}

.container_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}


.links ul{
    display: flex;
    flex-direction: row;
}


.container_links ul li{
    list-style: none;
}

.container_links ul li a{
    color: white;
    text-decoration: none;
    margin: 2% auto;
}

.container_links ul li a img{
    width: 40px;
    height: 40px;
}

.plesk{
    margin: 5%;
   
}











